body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #fff;
}
a,
a:hover,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside,
footer,
header,
nav,
section,
article {
  display: flex;
  flex-direction: column;
}
body {
  overflow: hidden;
  margin: 0px;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto 100px;
  grid-template-areas:
    "left main"
    "bottom bottom";
  height: 100vh;
}
aside {
  background-color: #000;
  grid-area: left;
}
header {
  background: #111;
  position: fixed;
  width: calc(100vw - 250px);
  left: 250px;
}

main {
  background: #111;
  grid-area: main;
  min-height: calc(350px);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 3;
}

nav {
  margin-top: 100px;
}

footer {
  background: #222;
  grid-area: bottom;
}

/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
  min-height: 30px;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

#sidebar {
  padding-left: 20px;
  padding-right: 20px;
}
.fas {
  margin-right: 15px;
}
.fa-spotify {
  font-size: 40px;
}
#sidebar > a {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 12px;
  color: rgb(213, 213, 213);
}

#sidebar > a:hover {
  color: white;
}

#sidebar .selected {
  border-left: solid 2px rgb(9, 242, 9);
  padding-left: 12px;
  height: 30px;
  display: flex;
  align-items: center;
}

/********************************/
/* Part B: Header & Nav Styling */
/********************************/

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 50px 50px 0px;
}
header > a {
  margin-right: 20px;
  margin-left: 20px;
}
#upgrade {
  border: solid 1px white;
  border-radius: 50px;
  padding: 8 40 8 40;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
}
#profile {
  background-color: rgb(53, 53, 53);
  border-radius: 50px;
  padding: 8 40 8 40;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 25px 40px 25px 40px;
}
nav > a {
  margin-right: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
nav .selected {
  border-bottom: solid 2px rgb(9, 242, 9);
  padding-bottom: 6px;
}

nav > a:hover {
  border-bottom: solid 2px rgb(9, 242, 9);
  padding-bottom: 6px;
}

/*************************/
/* Part C: Artists Panel */
/*************************/

#featured-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.artist-card {
  width: 20%;
  align-items: center;
  justify-items: center;

  padding: 10px;
}

.artist-card div {
  background: #222;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.artist-card img {
  width: 100%;
  border-radius: 50%;
}
.artist-card h3 {
  margin-bottom: 0px;
  font-size: 0.9em;
}

.artist-card p {
  color: #ccc;
  font-size: 0.8em;
  margin-top: 5px;
}

.artist-card .play-button {
  display: none;
}

.artist-card .play-button i {
  font-size: 18px;
  margin: 0px 12px 0px 12px;
}

.artist-card .play-button {
  display: none;
}

.artist-card:hover .play-button {
  background: #1cb954;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 22px;
  float: right;
  margin-top: -20%;
  margin-right: 4px;
}

/**************************/
/* Part D: Responsive UIs */
/**************************/

@media screen and (max-width: 1200px) {
  .artist-card {
    width: 25%;
  }
}

@media screen and (max-width: 1000px) {
  .artist-card {
    width: 33%;
  }
}
@media screen and (max-width: 900px) {
  .artist-card {
    width: 50%;
    height: auto;
  }
}
